# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://user1:password123@localhost:5432/mydb?schema=public"

#next secret
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

#google secret use true or false to enable or disable google login
GOOGLE_LOGIN_REQUIRED=true
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

#okta secret use true or false to enable or disable okta login
OKTA_LOGIN_REQUIRED=true
AUTH_OKTA_ID=""
AUTH_OKTA_SECRET=""
AUTH_OKTA_ISSUER=""

#github secret use true or false to enable or disable github login
GITHUB_LOGIN_REQUIRED=true
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""